.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: justify;
  font-family: "Red Hat Display";
  align-items: center;
  margin-top: 2rem;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 2rem;
  color: #000;
  text-align: justify;
  font-family: "Playfair Display";
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 5rem;
  width: 100%;
}

.red,
.blue,
.black {
  text-align: justify;
  font-family: "Red Hat Display";
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 50%; /* 2rem */
}

.red {
  color: #fc2733;
}
.blue {
  color: #00a58b;
}
